ul
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li
{
  font-family: arial, sans-serif;
  float: left;
}

li a
{
  display: block;
  color: white;
  text-align: center;
  padding: 18px 16px;
  text-decoration: none;
}

li a:hover:not(.active)
{
  background-color: #111;
}

.active
{
  background-color: rgb(59, 62, 255);
}

body
{
  background-color: #1541;
  text-align: center;
}

table
{
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th
{
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even)
{
  background-color: #dddddd;
}

#page-container
{
  position: relative;
  min-height: 97vh;
}

#content-wrap
{
  padding-bottom: 2.5 rem;    /* Footer height */
}

footer
{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5 rem;            /* Footer height */
}